
.advantages {
  @media (min-width: $desktop-width) {
    padding-top: 63px;
  }
}

.advantages__title {
  background-color: $white;
  font-size: 24px;
  font-weight: 300;
  color: $midnight-blue;
  text-align: center;

  position: relative;

  width: 280px;
  margin: 0 auto;
  margin-top: 41px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;

    width: 588px;
    margin: auto;
    margin-top: 46px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    font-size: 50px;
    line-height: 68px;

    margin: auto;
    padding-bottom: 34px;
  }
}

.advantages__title-bottom {
  display: block;
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}


.advantages__wrapper {
  background-color: $gray;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-left: 20px;
  padding-right: 20px;

  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    height: 491px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0;

    height: 100%;
  }
}

.advantages__wrapper::before {
  content: "";
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 15%;

  @media (min-width: $tablet-width) {
    top: -37px;
    height: 20%;
  }

  @media (min-width: $desktop-width) {
    top: -6px;
    height: 22%;
    background-size: 127%;
  }
}

.advantages__gallery {
  @include list-style;
  order: 2;
  margin: 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    width: 958px;
    margin: auto;

    overflow: hidden;
  }
}

.advantages__gallery-item--hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__gallery-item:first-child {
  margin-left: -9px;
}

.advantages__pic {
  transform: translateY(14%);
  width: 155px;
  height: 312px;

  @media (min-width: $tablet-width) {
    transform: translateY(2%);
    width: 268px;
    height: 547px;
    margin-right: 42px;
  }

  @media (min-width: $desktop-width) {
    transform: translateY(6%);
    width: 186px;
    height: 382px;
    margin-right: -6px;

    position: relative;
  }
}

.advantages__list {
  @include list-style;
  background-color: $gray;
  margin: 0;
  margin-top: 82px;
  text-align: center;
  order: 1;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 0;
    padding-bottom: 49px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 900px;
    margin: auto;
    margin-top: -49px;
    padding-left: 6px;
    padding-right: 7px;

    display: flex;
    justify-content: space-between;
  }
}

.advantages__item {
  width: 280px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    width: 310px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    width: 246px;
    margin: 0;
    margin-top: -14px;
    padding-top: 55px;

    background-color: $gray;
    position: relative;
    z-index: 10;
  }
}

.advantages__item::before {
  @media (min-width: $desktop-width) {
    content: "";
    width: 280px;
    height: 5px;

    background: radial-gradient(ellipse at center, $transparent-black 0%, $transparent-black 100%);
    filter: blur(4px);

    position: absolute;
    top: -5px;
    right: -16px;
  }
}

.advantages__item--friends {
  margin-bottom: 0;
  padding-left: -21px;
}

.advantages__subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: -2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;

    margin: 0;
  }
}

.advantages__description {
  color: $midnight-blue;
  font-size: 14px;
  line-height: 24px;

  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    margin-top: 22px;
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
