.competition {
  padding-top: 42px;
  margin-bottom: 17px;
}

.competition__wrapper {
  width: 280px;
  margin: 0 auto;
}

.competition__intro {
  font-size: 14px;
  line-height: 30px;
  color: $midnight-blue;
  text-align: center;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 490px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 756px;
    margin-bottom: 89px;
  }
}

@media (max-width: $mobile-width-only) {
  .competition__intro-hidden {
    display: none;
  }
}

.competition_form {
  margin-top: 6px;
}
