@import "../sass/variables.scss";


.competition__intro {
  font-size: 14px;
  line-height: 30px;
  color: $midnight-blue;
  text-align: center;

  width: 280px;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 490px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 756px;
    margin-bottom: 89px;
  }
}

@media (max-width: $mobile-width-only) {
  .competition__intro--hidden {
    display: none;
  }
}

// .competition_form
