
.contacts {
  margin: 0;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }
}

.contacts__wrapper {
  margin: 0 auto;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    width: 620px;
    text-align: center;
    margin-top: 14px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.contacts__title {
  color: $midnight-blue;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  width: 222px;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 370px;
    font-size: 40px;
    line-height: 54px;

    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 462px;
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 40px;
  }
}

.contacts__text {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 45%;
    display: inline-block;

    .contacts__text:last-child {
      width: 320px;
      margin: auto;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 35px;
    flex-basis: 250px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__text--call {
    padding-right: 35px;
  }

  .contacts__text--write {
    padding-left: 37px;
  }

  .contacts__text--visit {
    padding-top: 6px;
    margin-bottom: 22px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__text--call {
    order: 1;
    padding-right: 0;

    margin: 0;
    margin-right: 70px;
  }

  .contacts__text--write {
    order: 3;
    margin: 0;
    padding: 0;
  }

  .contacts__text--visit {
    order: 2;
    padding-top: 0;
    margin: 0;
    margin-right: 70px;
  }
}

.contacts__item {
  display: block;

  color: $pink;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;

  &:hover {
    color: $midnight-blue;
    text-decoration-line: underline;
    text-decoration-color: $midnight-blue;
  }

  &:active {
    color: lighten($midnight-blue, 30%);
    text-decoration: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.contacts__item--inactive {
  &:hover,
  &:active {
    color: $pink;
    text-decoration: none;
  }
}

.contacts__map {
  width: 100%;
  height: 200px;
  margin: auto;

  position: relative;
  background-image: url("../../img/map-mobile.png");

  @media (min-width: $tablet-width) {
    height: 377px;
    background-image: url("../../img/map-tablet.png");
  }

  @media (min-width: $desktop-width) {
    height: 522px;
    background-image: url("../../img/map-desktop.png");
  }
}

.contacts__map::before {
  content: "";
  background-image: url("../../img/bg-triangle-white-footer.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;

  position: absolute;
  top: -1px;
  left: 0;
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
}
