
.copyright {
  display: flex;
  align-items: center;
}

.copyright__info {
  color: $midnight-blue;
  font-size: 14px;
  line-height: 18px;

  margin-right: 15px;
}

.copyright__link {
  color: $black;
  width: 37px;
}

.copyright__icon {
  width: 100%;
}

.copyright__icon path {
  fill: $pink;
  width: auto;
}
