
.download {
  background-color: $dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 63%;

  padding-top: 66px;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 110px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.download--nojs {
  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
  }
}

.download__title {
  font-weight: 300;
  font-size: 24px;
  color: $white;
  text-align: center;

  width: 280px;
  margin-bottom: 341px;
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;

    margin-bottom: 30px;
    margin-top: 92px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;

    margin-bottom: 37px;
    margin-top: 98px;
  }
}

.download__wrapper {
  color: $white;
  min-height: 271px;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding-bottom: 82px;

    margin-left: 20px;
    z-index: 5;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
  }
}

.download__wrapper::after {
  content: "";
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 320px;
  height: 286px;

  position: absolute;
  transform: translateY(38%);
  left: 0;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/iphone-hand-tablet@1x.png");
    width: 660px;
    height: 545px;
    top: -134px;
    left: -7%;
    z-index: -1;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 111%;
    width: 940px;
    height: 645px;

    top: 102px;
    left: -12%;
    transform: translateX(6%);

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }
}

.download__link {
  color: $white;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  border: 3px solid $white;
  border-radius: 29px;

  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 15px;

  width: 280px;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $white;
    color: $pink;
  }

  &:active {
    color: lighten($pink, 30%);
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.download__icons {
  @include list-style;
  margin-top: 35px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 47px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 72px;
    margin-bottom: 21px;
  }
}

.download__info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;

  width: 280px;
  margin: auto;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 11px;

    font-size: 18px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 27px;
    padding-bottom: 43px;
  }
}
