.like {
  display: flex;
  justify-content: start;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.like__button {
  width: auto;
  border: none;
  outline: none;
  padding: 0;

  cursor: pointer;

  &:focus {
    outline: 1px solid $pink;
  }

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.like__amount {
  font-size: 12px;
  color: $pink;
  text-transform: uppercase;

  margin: 0;
  margin-left: 18px;

  @media (min-width: $tablet-width) {
    margin-right: 16px;
    margin-left: 0;
    order: 1;
  }
}
