// @import "../fonts.scss";

body {
  @include font-type;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  border: 0;
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  opacity: 0;
}

* {
  box-sizing: border-box;
}
