
.page-header__title {
  color: $white;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;

  margin: 0;
  padding-top: 36px;
  padding-bottom: 80px;

  background-color: $dark-blue;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.page-header__title--form {
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 50px;

  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -65px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 74px;

    background-image: url("../../img/bg-back-tablet@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-left: 220px;
    padding-right: 220px;

    background-image: url("../../img/bg-back-desktop@1x.jpg");
  }
}
