
.page-footer {
  background-color: $white;
  padding-top: 42px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding: 36px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 0;
  }
}

.page-footer__wrapper {
  width: 280px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.page-footer__logo {
  width: 147px;
  height: 40px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: -14px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 14px;
  }
}

.page-footer__logo-icon {
  fill: $midnight-blue;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $midnight-blue;
    opacity: 0.3;
  }
}

.page-footer__logo-icon--mobile {
  display: block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer__logo-icon--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-footer__copyright {
  margin-top: 39px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
