
// .photo-filter

.photo-filter__intro {
  background-color: $white;
  color: $midnight-blue;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;

  margin: 0;
  margin-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 52px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-bottom: 78px;
  }
}

.photo-filter__wrapper {
  padding-top: 20px;
  padding-bottom: 41px;

  background-color: $light-gray;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-top: 57px;
    padding-bottom: 57px;
    margin: auto;
  }
}

.photo-filter__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;

    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-left: 80px;
    margin-right: 60px;
  }
}

.photo-filter__upload {
  margin: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
