
.photo-section {
  background-color: $white;
  font-size: 14px;

  padding-top: 43px;

  @media (min-width: $tablet-width) {
    padding-top: 92px;
  }
}

.photo-section__intro {
  width: 252px;
  margin: auto;
  margin-bottom: 51px;

  display: flex;
  box-sizing: border-box;

  color: $midnight-blue;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 550px;
    margin: auto;
    margin-bottom: 77px;

    font-size: 18px;
  }
}

.photo-section__list {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}
