.photo-upload {
  width: 280px;
  min-height: 384px;

  background-image: url("../../img/photo-road-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  padding-bottom: 43px;

  &:focus {
    outline: 1px solid $midnight-blue;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
    padding: 0;
  }
}

.photo-upload__input {
  width: 280px;
  min-height: 384px;

  opacity: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }
}
