
.pricing {
  background-color: $gray;
  padding-top: 109px;
  padding-bottom: 40px;

  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 154px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 95px;
  }
}

.pricing::before {
  content: "";
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-width) {
    top: -42px;
  }

  @media (min-width: $desktop-width) {
    top: -11px;
    background-size: 115%;
  }
}

.pricing__wrapper {
  width: 100%;
  overflow: hidden;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.pricing__toggles {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.prices-table {
  background-color: $white;
  border: 2px solid $light-gray;
  border-radius: 0 0 0 1px;
  border-collapse: collapse;

  color: $midnight-blue;
  font-size: 14px;
  line-height: 30px;

  margin: auto;

  @media (max-width: $mobile-width-only) {
    table-layout: fixed;
    transform: translateX(-31%);
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.prices-table__row--header {
  background-color: $midnight-blue;
  color: $white;
  font-size: 16px;
}

.prices-table__item {
  border: 2px solid $light-gray;
  border-radius: 0 0 0 1px;

  min-width: 276px;
  padding-top: 15px;
  padding-left: 22px;
  padding-bottom: 13px;
  padding-right: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 11px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 12px;

    min-width: 152px;

    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    min-width: 233px;
    text-transform: none;
    font-size: 18px;

    padding-left: 19px;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-right: 13px;
  }
}

.prices-table__row--header .prices-table__item {
  padding-bottom: 27px;
  padding-top: 13px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
    padding-top: 7px;
    padding-left: 11px;
    padding-right: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
    padding-top: 17px;
  }
}

.prices-table__item--features {
  background-color: $gray;
  border-color: $gray;
  border-bottom: 2px solid $light-gray;
  font-size: 0;
}

.prices-table__item--hit {
  position: relative;
  overflow: hidden;
}

.prices-table__label {
  font-weight: 400;

  width: 128px;
  height: 25px;
  background-color: $pink;
  transform: rotate(-45deg);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 16px;
  left: -37px;

  @media (min-width: $tablet-width) {
    height: 20px;
    top: 13px;
    left: -46px;

    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    height: 22px;
    top: 26px;
    left: -45px;
    padding-left: 22px;
  }
}

.prices-table__amount {
  font-weight: 300;

  display: block;
  margin-top: -4px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
    font-size: 24px;
  }
}

@media (max-width: $mobile-width-only) {
  .prices-table__item--features,
  .prices-table__item:nth-child(1) {
    display: none;
  }
}

.prices-table__cell {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: center;
  }
}

.prices-table__item--text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.prices-table__item--yes {
  display: block;
  background-image: url("../../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 31px;
  height: 21px;

  font-size: 0;

  @media (max-width: $mobile-width-only) {
    background-position: 80%;
  }
}

.prices-table__item--no {
  display: block;
  background-image: url("../../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 27px;
  height: 27px;

  font-size: 0;
}

.pricing .slider__toggles {
  margin-top: 43px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
