
.reviews {
  padding-top: 41px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 184px;
    padding-bottom: 32px;
    background-image: url("../../img/icon-quotes.png");
    background-repeat: no-repeat;
    background-position: center 72px;
  }
}

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.reviews__item {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;

  @media (min-width: $tablet-width) {
    order: 2;
    margin: 0;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-name span {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-weight: 400;
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-top: 3px;
  }
}

.reviews__text {
  color: $midnight-blue;
  font-size: 14px;
  line-height: 30px;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 18px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin: auto;
    margin-bottom: 36px;
  }
}

.reviews__toggles {
  margin: 0;
}
