@import "../sass/variables.scss";

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__text {
  color: $midnight-blue;
  font-size: 14px;
  line-height: 30px;
}
