
.site-nav {
  @include list-style;
  background-color: $midnight-blue;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;

  margin: 0;

  @media (min-width: $desktop-width) {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    line-height: 18px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.site-nav__item {
  box-shadow: 0 1px 0 $black, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  border-top: 1px solid $black;

  @media (min-width: $desktop-width) {
    box-shadow: none;
    border-top: none;
    display: block;
    min-width: auto;
    min-height: auto;
    text-transform: none;

    padding-bottom: 20px;
    margin-left: 79px;
  }
}

.site-nav__item--active {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $white;
  }
}

.site-nav__link {
  color: $white;
  margin: auto;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;

  &:hover {
    color: $pink;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
