.slider__toggles {
  display: flex;

  width: 88px;
  height: 18px;
  margin: 0 auto;
  margin-top: 31px;
  padding-left: 15px;
}

.slider__toggle {
  width: 10px;
  height: 10px;
  background-color: $transparent-blue;
  border-radius: 50%;
  border: 0;
  cursor: pointer;

  margin-right: 16px;
}

.slider__toggle--current {
  border: 3px solid $black;
  background-color: $white;
}

.slider__toggle:last-child {
  margin: 0;
}
