
.social__list {
  @include list-style;
  display: flex;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.social__item {
  margin-right: 14px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 6px;
  }
}

.social__link {
  width: 48px;
  height: 48px;
  border: 3px solid $transparent-gray;
  border-radius: 50%;
  background-color: $white;
  display: flex;

  &:hover {
    border: 3px solid $midnight-blue;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 54px;
    height: 54px;
  }
}

.social__icon {
  fill: $pink;
  margin: auto;
}

.social__link--twitter .social__icon {
  width: 18px;
  height: 14px;
}

.social__link--facebook .social__icon {
  width: 9px;
  height: 18px;
}

.social__link--youtube .social__icon {
  width: 15px;
  height: 13px;
}
