.survey {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;

    width: 940px;
    margin: auto;
  }
}

.survey__section {
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 22px;
  padding-right: 22px;

  position: relative;

  @media (min-width: $tablet-width) {
    border: 2px solid $light-gray;
    padding: 0;
  }
}

.survey__section-submit {
  padding-left: 22px;
  padding-right: 22px;
  margin-top: 49px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    order: 6;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
    margin-top: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 65px;
  }
}

.survey__subtitle {
  display: block;

  color: $pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  width: 254px;

  position: absolute;
  top: 40px;
  left: 33px;

  @media (min-width: $tablet-width) {
    width: auto;
    top: -10px;
    background-color: $white;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.survey__subtitle--app {
  @media (min-width: $tablet-width) {
    left: 20%;
  }

  @media (min-width: $desktop-width) {
    left: 7%;
  }
}

.survey__subtitle--contacts {
  @media (max-width: $mobile-width-only) {
    @include visually-hidden;
  }

  @media (min-width: $tablet-width) {
    left: 29%;
    padding-left: 31px;
    padding-right: 31px;
  }

  @media (min-width: $desktop-width) {
    left: 36%;
  }
}

.survey__subtitle--achievements {
  @media (min-width: $tablet-width) {
    left: 15%;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    left: 27%;
  }
}

.survey__subtitle--emotions {
  @media (min-width: $tablet-width) {
    left: 29%;
    padding-left: 37px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    left: 36%;
    padding-left: 39px;
    padding-right: 39px;
  }
}

.survey__input {
  border: 2px solid $light-gray;
  border-radius: 1px;

  font-size: 18px;
  line-height: 30px;
  padding-left: 20px;
  cursor: pointer;

  &:hover {
    border: 2px solid $midnight-blue;
  }

  &:focus {
    outline-color: $pink;
  }
}

.survey__input::placeholder {
  color: $midnight-blue;
  font-size: 18px;
  line-height: 30px;
}

.survey__submit {
  width: 278px;
  height: 62px;
  background-color: $green;
  border: 2px solid $green;
  border-radius: 1px;

  color: $white;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: 34px;

  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $dark-green;
    border-color: $dark-green;
  }

  &:active {
    color: $transparent-white;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.survey__legend {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    margin-right: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.survey__legend-coloured {
  color: $pink;
}

.survey__legend-hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}
