
.user-contacts {
  padding-bottom: 25px;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    order: 3;
    padding-top: 46px;
    padding-bottom: 0;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 44px;
    padding-right: 60px;
    padding-left: 60px;

    display: flex;
    flex-direction: row;
  }
}

.user-contacts__wrapper {
  @media (min-width: $tablet-width) {
    margin-left: 58px;
    margin-right: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.user-contacts__item {
  margin: 0;
  margin-bottom: 18px;

  display: flex;
  flex-direction: column;

  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 375px;
    margin-bottom: 22px;
  }
}

.user-contacts__item::after {
  content:"";
  width: 59px;
  height: 59px;
  background-color: $light-gray;
  background-repeat: no-repeat;
  background-position: center center;

  position: absolute;
  top: 0;
  right: 0;
}

.user-contacts__item:first-child::after {
  background-image: url("../../img/icon_phone.svg");
}

.user-contacts__item:last-child::after {
  background-image: url("../../img/icon-mail.svg");
}

.user-contacts__label {
  @include form-label;
  margin-left: 21px;
  margin-bottom: 7px;
  order: 1;

  @media (min-width: $tablet-width) {
    margin-left: 17px;
    margin-top: 11px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;
  }
}

.user-contacts__fill {
  width: 100%;
  height: 60px;
  border: 2px solid $light-gray;
  border-radius: 1px;

  font-size: 18px;
  line-height: 30px;
  padding-left: 20px;
  cursor: pointer;

  order: 2;

  &:hover {
    border: 2px solid $midnight-blue;
  }

  &:focus {
    outline-color: $pink;
  }

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.user-contacts__fill::placeholder {
  color: $midnight-blue;
}
