
.user-app {
  background-color: $gray;

  @media (min-width: $tablet-width) {
    background-color: $white;
    order: 2;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    padding-top: 56px;
    margin: 0;
    margin-left: auto;
    margin-bottom: 65px;
  }
}

.user-app__list {
  @include list-style;
  margin: 0;
  margin-top: 114px;
  padding-left: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 56px;
    margin-bottom: 56px;
    padding-left: 108px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-left: 122px;
  }
}

.user-app__item {
  margin-left: 28px;
  margin-bottom: 43px;

  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 10px;
  }
}

.user-app__label {
  font-size: 18px;
  line-height: 30px;
  color: $midnight-blue;
}

.user-app__option + .user-app__label::before {
  content: "";
  width: 37px;
  height: 37px;
  background-color: $white;
  border: 2px solid $light-gray;
  border-radius: 50%;

  position: absolute;
  top: -4px;
  left: -70px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: -60px;
  }
}

.user-app__option:checked + .user-app__label::after {
  content: "";
  width: 37px;
  height: 37px;
  background-color: $white;
  border: 2px solid $light-gray;
  border-radius: 50%;
  background-image: url("../../img/radio_small.png");
  background-repeat: no-repeat;
  background-position: center center;

  position: absolute;
  top: -4px;
  left: -70px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: -60px;
  }
}

.user-app__option + .user-app__label:hover::before,
.user-app__option:checked + .user-app__label:hover::after {
  border-color: $midnight-blue;
}

.user-app__option + .user-app__label:active::before,
.user-app__option:checked + .user-app__label:active::after {
  border-color: $pink;
}

.user-app__option:disabled + .user-app__label::before,
.user-app__option:disabled + .user-app__label::after {
  border-color: $light-gray;
  opacity: 0.5;
  cursor: default;
}
