.user-emotions {
  padding-top: 53px;
  padding-right: 22px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 57px;
    padding-top: 46px;
    padding-right: 57px;
    padding-bottom: 49px;

    order: 5;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 41px;
    padding-bottom: 44px;
  }
}
