
.user-post__container {
  background-color: $gray;

  padding-right: 7px;
  padding-left: 17px;
  padding-bottom: 20px;
  padding-top: 17px;

  margin: 0;
  margin-top: -7px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-height: 162px;

    padding-left: 31px;
    padding-top: 28px;
    padding-right: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
    padding-top: 30px;
  }
}

.user-post__comment {
  margin: 0;
}

.user-post__time {
  color: $midnight-blue;
  font-size: 12px;
  text-transform: uppercase;
}

.user-post__text {
  display: block;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.user-post__image {
  width: 280px;
  height: 180px;

  @media (min-width: $tablet-width) {
    display: block;

    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.user-post__image img {
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    height: 300px;
    object-fit: cover;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.user-post__likes {
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }
}

.user-post__container--panorama {
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    position: relative;

    min-height: 120px;
    padding-left: 31px;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    min-height: 96px;
    padding-left: 27px;
  }
}

.user-post__container--panorama .user-post__likes {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 13px;
    right: 27px;
  }
}
