
.user-emotions {
  padding-top: 53px;
  padding-right: 22px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 57px;
    padding-top: 46px;
    padding-right: 57px;
    padding-bottom: 49px;

    order: 5;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.user-emotions__fill {
  width: 100%;
  box-sizing: border-box;
  min-height: 193px;
  margin-top: 22px;
  padding-top: 12px;
  padding-right: 20px;
  padding-left: 19px;

  border: 2px solid $light-gray;

  resize: none;

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    color: $midnight-blue;
    opacity: 1;

    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    margin-bottom: 45px;
    padding-left: 20px;
  }
}
