
.user-name {
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    order: 1;
    border: none;

    padding: 0;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    padding-bottom: 0;
    margin-bottom: 11px;
  }
}

.user-name__list {
  @include list-style;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
  }
}

.user-name__item {
  margin-bottom: -19px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;
  }
}
