
.user-name {
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    order: 1;
    border: none;

    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
    padding-bottom: 0;
  }
}

.user-name__list {
  @include list-style;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.user-name__item {
  margin-bottom: -19px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 52px;
  }
}

.user-name__label {
  @include form-label;
  margin-top: 35px;
  margin-left: 21px;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.user-name__fill {
  width: 100%;
  height: 62px;
  border: 2px solid $light-gray;
  border-radius: 1px;

  font-size: 18px;
  line-height: 30px;
  padding-left: 18px;
  cursor: pointer;

  &:hover {
    border: 2px solid $midnight-blue;
  }

  &:focus {
    outline-color: $pink;
  }
}

.user-name__fill::placeholder {
  color: $midnight-blue;
  font-size: 18px;
}
