
.user-achievements {
  background-color: $gray;
  padding-top: 117px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-left: 60px;
    padding-right: 59px;
  }
}

.user-achievements__list {
  @include list-style;
  margin: 0;
  padding-left: 45px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.user-achievements__option {
  margin-bottom: 50px;
  padding-left: 12px;

  position: relative;
}

.user-achievements__option:last-child {
  margin-bottom: 0;
}

.user-achievements__label {
  font-size: 18px;
  line-height: 30px;
  color: $midnight-blue;
}

.user-achievements__fill+.user-achievements__label::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: $white;
  border: 2px solid $light-gray;
  border-radius: 1px;

  cursor: pointer;
  position: absolute;
  left: -47px;
  top: -3px;
}

.user-achievements__fill:checked+.user-achievements__label::after {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: $white;
  border: 2px solid $light-gray;
  border-radius: 1px;

  background-image: url("../../img/tick.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  left: -47px;
  top: -3px;

  cursor: pointer;
}
