
.user-contacts {
  padding-bottom: 25px;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    order: 3;
    padding-top: 46px;
    padding-bottom: 0;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 44px;
    padding-right: 60px;
    padding-left: 60px;

    display: flex;
    flex-direction: row;
  }
}

.user-contacts__wrapper {
  @media (min-width: $tablet-width) {
    margin-left: 58px;
    margin-right: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.user-contacts__item {
  margin: 0;
  margin-bottom: 18px;

  display: flex;
  flex-direction: column;

  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 375px;
    margin-bottom: 7px;
  }
}

.user-contacts__item::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 59px;
    height: 56px;
    background-color: $light-gray;
    background-repeat: no-repeat;
    background-position: center center;

    position: absolute;
    top: 2px;
    right: 2px;

    z-index: 1;
  }
}

.user-contacts__item-icon {
  @media (max-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;

    position: absolute;
    top: 19px;
    right: 20px;
    z-index: 5;
  }
}

// .user-contacts__item:first-child::after {
//   background-image: url("../img/sprite.svg#icon-phone");
// }

// .user-contacts__item:last-child::after {
//   background-image: url("../img/sprite.svg#icon-mail");
// }
