
.user-post__container {
  background-color: $gray;

  padding: 25px 30px 23px 27px;
  margin: 0;
  margin-top: -7px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    height: 155px;
  }
}

.user-post__comment {
  margin: 0;
}

.user-post__time {
  color: $midnight-blue;
  font-size: 12px;
  text-transform: uppercase;
}

.user-post__image {
  width: 280px;
  height: 180px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.user-post__image img {
  width: 100%;
}
