
.user-achievements {
  background-color: $gray;
  padding-top: 117px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    padding-top: 55px;
    margin-bottom: 66px;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 1px;
    padding-right: 39px;
    margin-bottom: 65px;
  }
}

.user-achievements__list {
  @include list-style;
  margin: 0;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 104px;
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 315px 295px auto;
    grid-template-rows: 1fr 1fr;

    padding-bottom: 10px;
  }
}

.user-achievements__option {
  margin-bottom: 50px;
  padding-left: 12px;

  position: relative;

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.user-achievements__option:last-child {
  margin-bottom: 0;
}

.user-achievements__label {
  font-size: 18px;
  line-height: 30px;
  color: $midnight-blue;
}

.user-achievements__fill + .user-achievements__label::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: $white;
  border: 2px solid $light-gray;
  border-radius: 1px;

  cursor: pointer;
  position: absolute;
  left: -47px;
  top: -3px;
}

.user-achievements__fill:checked + .user-achievements__label::after {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: $white;
  border: 2px solid $light-gray;
  border-radius: 1px;

  background-image: url("../../img/tick.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  position: absolute;
  left: -47px;
  top: -3px;

  cursor: pointer;
}

.user-achievements__fill + .user-achievements__label:hover::before,
.user-achievements__fill:checked + .user-achievements__label:hover::after {
  border-color: $midnight-blue;
}

.user-achievements__fill + .user-achievements__label:active::before,
.user-achievements__fill:checked + .user-achievements__label:active::after {
  border-color: $pink;
}

@media (min-width: $desktop-width) {
  .user-achievements__option--shark {
    order: 1;
  }

  .user-achievements__option--sunburn {
    order: 4;
  }

  .user-achievements__option--norris {
    order: 2;
  }

  .user-achievements__option--souvenir {
    order: 5;
  }

  .user-achievements__option--tower {
    order: 3;
  }

  .user-achievements__option--crush {
    order: 6;
  }
}
