// Colors
$header-transparent-color: rgba(0, 0, 0, 0.3);
$white: #ffffff;
$black: #000000;
$dark-blue: #1d2631;
$midnight-blue: #283645;
$gray: #f2f2f2;
$light-gray: #e5e5e5;
$pink: #d22856;
$green: #2aab6d;
$dark-green: #1c9b5e;
$transparent-white: rgba(255, 255, 255, 0.3);
$transparent-blue: #bfc3c7;
$transparent-gray:#eaebec;
$light-blue: rgba(40, 54, 69, 0.5);
$button-gray: #b5b9be;

// Viewports

$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width-only: 659px;

// Mixins

@mixin font-type {
  font-family: "Open Sans", "Arial", sans-serif;
}

@mixin visually-hidden {
  border: 0;
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  opacity: 0;
}

@mixin list-style {
  padding: 0;
  list-style: none;
}

@mixin form-label {
  display: block;
  color: $pink;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

@mixin input-text {
  color: $midnight-blue;
  font-size: 18px;
  line-height: 30px;
}
